  .container{
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #1f2630;
    border-radius: 20px;
    padding: 20px;
  }
  .conWra{
    padding: 10px;
  }

  .imgWrapper{
    background-color: #272e35;
    padding: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
  }

  .wrapper h4{
    color: #E9E9EC;
    padding: 22px;
    padding-left: 0;
    font-size: 25px;
  }

  .wrapper p{
    width: 90%;
    font-size: 16px;
    line-height: 27px;
    color: #545A64;
  }

  .numebrs{
    display: flex;
    margin-top: 20px;
    gap: 22px;
  }

  .numebrs .div1,.div2,.div3,.div4,.div5{
  
    border: none;
    background-color: #272e35;
    font-size: 20px;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }

  .container .submit{
    width: 95%;
    cursor: pointer;
    margin-top: 25px;
    border: none;
    border-radius: 40px;
    height: 40px;
    background-color: #FC7613;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
  }

  .div1:hover{
    background-color: #7c8898 ;
  }
  .div2:hover{
    background-color: #7c8898 ;
  }
  .div3:hover{
    background-color: #7c8898 ;
  }
  .div4:hover{
    background-color: #7c8898 ;
  }
  .div5:hover{
    background-color: #7c8898 ;
  }

  .div1:focus{
    background-color: #FC7613;
    color: white;
    outline: none;
  }

  .div2:focus{
    background-color: #FC7613;
    color: white;
    outline: none;
  }

  .div3:focus{
    background-color: #FC7613;
    color: white;
    outline: none;
  }

  .div4:focus{
    background-color: #FC7613;
    color: white;
    outline: none;
  }

  .div5:focus{
    background-color: #FC7613;
    color: white;
    outline: none;
  }


  .div1:active{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div2:active{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div3:active{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div4:active{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div5:active{
    background-color: #FC7613;
    color: white;
    outline: none;
  }


  .div1:visited{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div2:visited{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div3:visited{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div4:visited{
    background-color: #FC7613;
    color: white;
    outline: none;
  }
  .div5:visited{
    background-color: #FC7613;
    color: white;
    outline: none;
  }


  .submit:hover{
    background-color: #ffffff;
    color: #FC7613;
  }




  /* after rating */

  .ratContainer{
    text-align: center;
    padding: 10px;
  }

  .ratWrapper{
  
  }
  .showNumber{
    padding: 10px ;
    width: 50%;
    margin:auto;
    border-radius: 30px;
    margin-top: 40px;
    height: 15px;
    text-align: center;
    color: #FC7613;
    background-color: #2b2c32;
  }

  .ratContainer h3{
    color: white;
    margin-top: 50px;
    font-size: 30px;
  }

  .ratContainer .para{
    color: white;
    margin-top: 15px;
    line-height: 27px;
  }



  @media screen and (min-width:1026px)and (max-width:1200px) {
    .container{
      width: 32%;
    }
  }


  @media screen and (min-width:800px)and (max-width:1026px) {
    .container{
      width: 36%;
    }
  }


  @media screen and (min-width:650px) and (max-width:800px) {
    .container{
      width: 50%;
    }
  }

  @media screen and (min-width:500px) and (max-width:650px) {
    .container{
      width: 55%;
    }
  }

  @media screen and (min-width:400px) and (max-width:500px) {
    .container{
      width: 65%;
    }
  }
  @media screen  and (max-width:400px) {
    .container{
      width: 80%;
    }
  }